snippet doc_np Documentation numpy style
	"""
	${1:docu}.


	Parameters
	----------
	par1 : int
	    description
	par2 : float, default=2
	    description

	Returns
	-------
	output : list
	    description

	Yields
	------
	output : int
	    description
	"""


snippet doc_inline Inline documentation
	"""${0}"""
